<form [formGroup]="addPricelistForm" (ngSubmit)="addPricelist()">
  <h1 style="text-align:center">Vreme trajanja novog cenovnika:</h1>
  <label>
    <p class="label-txt">Pocetak:</p>
    <input type="text" formControlName="StartDate" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Kraj:</p>
    <input type="text" formControlName="EndDate" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button class="btn btn-success pull-right" type="submit">Posalji</button>
</form> 

<form [formGroup]="addPricelistItemForm" (ngSubmit)="addPricelistItem()" *ngIf="pricelistAdded">
  <h1 style="text-align:center">Dodajte cene:</h1>
  <label>
    <p class="label-txt">Vremenska karta:</p>
    <input type="text" formControlName="HourlyPrice" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Dnevna karta:</p>
    <input type="text" formControlName="DailyPrice" class="input" required>
    <div class="line-box"> 
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Mesecna karta:</p>
    <input type="text" formControlName="MonthlyPrice" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">Godisnja karta:</p>
    <input type="text" formControlName="AnnualPrice" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button class="btn btn-success pull-right" type="submit">Dodaj</button>
</form>