<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1 style="text-align:center">Login</h1>
  <label>
    <p class="label-txt">USERNAME:</p>
    <input type="text" formControlName="UserName" class="input"required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <label>
    <p class="label-txt">PASSWORD:</p>
    <input type="password" formControlName="Password" class="input" required>
    <div class="line-box">
      <div class="line"></div>
    </div>
  </label>
  <button class="btn btn-danger pull-right" type="submit">Login</button>
</form>