<table class="table table-boredered">
  <thead>
    <tr class="success">
      <th colspan="2">
          Cenovnik
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Izaberite kartu: </td>
      <td>
        <select #ticketType>
          <option value="0">Vremenska - 60 min</option>
          <option value="1">Dnevna</option>
          <option value="2">Mesecna</option>
          <option value="3">Godisnja</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Cena:</th>
      <td>{{price}}</td>
    </tr>
    <tr class="success">
      <th>
          <button type="submit" (click)="ShowPrice(ticketType.value)">Prikazi</button>
      </th>
      <th>
        <button type="submit" (click)="Buy(ticketType.value)">Kupi</button>
      </th>
    </tr>
    <tr>
        <td colspan="2">
            <label id="lable2" visibility ="hidden" display="none">Karta je kupljena!</label>
        </td>
    </tr>
    <tr>
      <td colspan="2">
          <label id="lable1" visibility="hidden" display="none" >Neregistrovani korisik moze kupiti samo vremensku kartu!</label>
      </td>
    </tr>
  </tbody>
</table>
