<form>
    <h2 style="text-align:center">Cenovnik</h2>
    <label>
      <p class="label-txt">Odaberite kartu:   </p>
        <select #ticketType>
          <option value="0">Vremenska - 60 min</option>
          <option value="1">Dnevna</option>
          <option value="2">Mesecna</option>
          <option value="3">Godisnja</option>
        </select>
      </label>
    <label>
      <p class="label-txt">Cena:</p>   
     <p>{{price}}</p> 
    </label>
    <label>
          <button type="submit" (click)="ShowPrice(ticketType.value)">Prikazi</button>
    </label>
    <label>   
          <button type="submit" (click)="Buy(ticketType.value)">Kupi</button>
    </label>
</form>
