<nav class="navbar navbar-expand-lg navbar-light bg-company-red">
    <a class="navbar-brand" href="#">JGSP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Cenovnik</a>
        <a class="nav-item nav-link" href="#">Red voznje</a>
      </div>
      <div>
        <a routerLink="/login"><button class="btn btn-danger navbar-btn">Login</button></a>
        <a routerLink="/registration"><button class="btn btn-danger navbar-btn">Registration</button></a>
      </div>
    </div>
  </nav>
