<nav class="navbar navbar-expand-lg navbar-light bg-company-red">
    <a class="navbar-brand" href="#">JGSP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" routerLink="/pricelist">Cenovnik</a>
        <a class="nav-item nav-link" routerLink="/schedules">Red voznje</a>
        <a class="nav-item nav-link" routerLink="/lines">Autobuske linije</a>
        <a class="nav-item nav-link" routerLink="/addpricelist">Dodaj cenovnik</a>
        <a class="nav-item nav-link" routerLink="/editpricelist">Izmeni cenovnik</a>
        <a class="nav-item nav-link" routerLink="/editlines">Izmeni linije</a>

      </div>
      <div>
        <a routerLink="/login"><button class="btn btn-danger navbar-btn">Prijava</button></a>
        <a routerLink="/registration"><button class="btn btn-danger navbar-btn">Registracija</button></a>
        <a routerLink="/admin"><button class="btn btn-danger navbar-btn">Administrator</button></a>
      </div>
    </div>
  </nav>
