<form *ngIf="activePricelist != undefined" class="table table-bordered">
    <h2 style="text-align:center">Izmenite cenovnik</h2>
      <label>
        <p class="label-txt">Izmenite vreme trajanja cenovnika koji je u upotrebi: </p>
        </label><br/>       
         <label>
            <p class="label-txt">Pocetak: </p>
                <input type="text" class="input" [ngModelOptions]="{standalone: true}" [(ngModel)]="activePricelist.StartDate" value="{{activePricelist.StartDate}}" (change)="onChange($event)" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
        <label>
            <p class="label-txt">Kraj: </p>
                <input type="text" class="input"  [(ngModel)]="activePricelist.EndDate" [ngModelOptions]="{standalone: true}" value="{{activePricelist.EndDate}}" (change)="onChange($event)" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
        <label>
            <p class="label-txt">Izmenite vrednosti cena karata: </p>
        </label><br/>
        <label>
            <p class="label-txt">Cena vremenske karte: </p> 
                <input type="text" class="input" [(ngModel)]="activePricelist.HourlyPrice" [ngModelOptions]="{standalone: true}" value="{{activePricelist.HourlyPrice}}" (change)="onChange($event)" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
         <label>
            <p class="label-txt">Cena dnevne karte: </p> 
                 <input type="text" class="input" [(ngModel)]="activePricelist.DailyPrice" [ngModelOptions]="{standalone: true}" value="{{activePricelist.DailyPrice}}" (change)="onChange($event)" required>
                 <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
         <label>
            <p class="label-txt">Cena dnevne karte: </p> 
                <input type="text" class="input" [(ngModel)]="activePricelist.MonthlyPrice" [ngModelOptions]="{standalone: true}" value="{{activePricelist.MonthlyPrice}}" (change)="onChange($event)" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
        <label>
            <p class="label-txt">Cena godisnje karte: </p> 
                <input type="text" class="input" [(ngModel)]="activePricelist.AnnualPrice" [ngModelOptions]="{standalone: true}" value="{{activePricelist.AnnualPrice}}" (change)="onChange($event)" required>
                <div class="line-box">
                    <div class="line"></div>
                </div>
        </label>
        <button type="submit"  (click)="changePricelist()">Izmeni</button>
</form>