<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <table> 
        <thead>
            <tr class=success>
                <th colspan="2">
                    Registration
                </th>
            </tr>
        </thead>
        <tbody>
            <tr id="upozorenje" class="hidden">
               <td colspan="2" hidden="hidden">GRESKA: Koriscnicko ime vec postoji, izaberite drugo!</td>
            </tr>
            <tr>
                <th>Name: </th>
                <td>
                    <input type="text" formControlName="Name" placeholder="Name..." required />
                </td>
            </tr>
            <tr>
                <th>Lastname: </th>
                <td>
                    <input type="text" formControlName="LastName" placeholder="Lastname..." required />
                </td>
            </tr>
            <tr>
                <th>Username: </th>
                <td>
                    <input type="text" formControlName="UserName" placeholder="Username..." required />
                </td>
            </tr>
            <tr>
                <th>Email: </th>
                <td>
                    <input type="text" formControlName="Email" placeholder="Email..." required/>
                </td>
            </tr>
            <tr>
                <th>Address: </th>
                <td>
                    <input type="text" formControlName="Address" placeholder="Address..."/>
                </td>
            </tr>
            <tr>
                <th>Birthday date: </th>
                <td>
                    <input type="text" formControlName="BirthdayDate" placeholder="Birthday date..."/>
                </td>
            </tr>
            <tr>
                <th>Passenger Type: </th>
                <td>
                    <select name="PassengerType" formContorlName="PassengerType" required>
                        <option formContorlName="PassengerType" value="Regular">Regular</option>
                        <option formContorlName="PassengerType" value="Student">Student</option>
                        <option formContorlName="PassengerType" value="Pensioner">Pensioner</option>
                    </select>
                </td>
            </tr>
            <tr>
                <th>Password: </th>
                <td>
                    <input type="password" formControlName="Password" placeholder="Password..." required/>
                </td>
            </tr>
            <tr>
                <th>Confirm Password: </th>
                <td>
                    <input type="password" formControlName="ConfirmPassword" placeholder="Confirm Password..." required/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <button class="btn btn-success pull-right" type="submit">Register</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>
