<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1 style="text-align:center">Registration</h1>
    <label>
      <p class="label-txt">Name:</p>
      <input type="text" formControlName="Name" class="input" required />
        <div class="line-box">
         <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Lastname:</p>
      <input type="text" formControlName="LastName" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Username:</p>
      <input type="text" formControlName="UserName" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Email:</p>
      <input type="text" formControlName="Email" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Address:</p>
      <input type="text" formControlName="Address" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Birthday Date:</p>
      <input type="text" formControlName="BirthdayDate" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Passenger Type:</p>
      <select>
        <option name="PassengerType" formContorlName="PassengerType" value="3">Regular</option>
        <option name="PassengerType" formContorlName="PassengerType" value="1">Student</option>
        <option name="PassengerType" formContorlName="PassengerType" value="2">Pensioner</option>
    </select>
    </label>
    <label>
      <p class="label-txt">Password:</p>
      <input type="password" formControlName="Password" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">ConfirmPassword:</p>
      <input type="password" formControlName="ConfirmPassword" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
      <button class="btn btn-success pull-right" type="submit">Register</button>
</form>
