<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <h1 style="text-align:center">Registracija</h1>
    <label>
      <p class="label-txt">Ime:  </p>
      <input type="text" formControlName="Name" class="input" required />
        <div class="line-box">
         <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Prezime:</p>
      <input type="text" formControlName="LastName" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Korisnicko ime:</p>
      <input type="text" formControlName="UserName" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Email:</p>
      <input type="text" formControlName="Email" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Adresa:</p>
      <input type="text" formControlName="Address" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Datum rodjenja:</p>
      <input type="text" formControlName="BirthdayDate" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt"> Tip putnika: </p>
      <select>
        <option name="PassengerType" formContorlName="PassengerType" value="3">Regular</option>
        <option name="PassengerType" formContorlName="PassengerType" value="1">Student</option>
        <option name="PassengerType" formContorlName="PassengerType" value="2">Pensioner</option>
    </select>
    </label>
    <label>
      <p class="label-txt">Lozinka:</p>
      <input type="password" formControlName="Password" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
    <label>
      <p class="label-txt">Potvrdi lozniku:</p>
      <input type="password" formControlName="ConfirmPassword" class="input" required />
        <div class="line-box">
          <div class="line"></div>
        </div>
    </label>
      <button class="btn btn-success pull-right" type="submit">Registruj se</button>
</form>
