<table>
    <thead>
      <tr>
        <th colspan="2">
          Autobuske linije
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Odaberite linije: </td>
        <td>
            <select #routeType>
                 <option value="1">Gradske linije</option>
                <option value="0">Prigradske linije</option>              
              </select>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit" (click)="ShowLines(routeType.value)">Prikazi</button>
        </td>
      </tr>
      <br/>
      <tr>
        <td>
        {{routeType.value}}
      </td>
        <!--<th colspan="2" *ngif="(routeType =='1'); else elseBlock">
           Gradske linije: 
        </th>
        <ng-template #elseBlock>Prigradske linije: </ng-template>-->
        <td colspan="2">
          {{info}}
        </td>
      </tr>
    </tbody>
  </table>
